---
import type { Seta } from "@/types";
import Product from "./Product.astro";
interface Props {
  setas: Seta[];

}
const {setas} = Astro.props
---

<div>
  {setas.map((seta: Seta) => <Product seta={seta}/>)}
</div>
<style>
  div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
</style>