---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Regulaciones">
  <main class="w-full flex flex-col items-center">
    <header class="w-full p-16 bg-slate-200">
      <h1 class="text-center text-4xl font-extrabold">aviso legal</h1>
    </header>
    <section class="text-center my-4 max-w-2xl font-medium">
      <h2 class="text-lg font-medium">garantia legal</h2>
      <p>
        Al igual que la venta de semillas en el país, no existe garantía para:
      </p>
      <p>1. Manipulaciones del cultivador. Una vez activado el kit.</p>
      <p>
        2. Contaminaciones después de recibir el kit, producto de malas
        condiciones (higiene, ventilación, humedad, agua mineral, etc…).
      </p>
      <p>
        Setitas.com S.A.S es la marca COLOMBIANA con los más altos estándares de
        producción y control de calidad.
      </p>
      <p class="mt-4">
        Setitas.com S.A.S ofrece semillas de hongo para uso ornamental, de
        investigación, y de divulgación científica en forma de micelio o esporas
        (SEMILLAS DE HONGO). En Colombia según la Ley 1453 del 24 de junio de
        2011, en el Artículo 376 la cual habla sobre el tráfico, fabricación o
        porte de estupefacientes. El país se suscribe a la fiscalización de
        todas las sustancias que se encuentren contempladas en los cuadros uno,
        dos, tres y cuatro del Convenio de las Naciones Unidas sobre Sustancias
        Sicotrópicas, convirtiéndose en ilegal el porte de esta sustancia en
        base pura y en estado sintético (Psilocina y psilocibina pura en
        cápsulas o cristales), sin embargo, NO EXISTE RESTRICCIÓN ALGUNA por
        adquisición o porte de SEMILLAS DE HONGOS (Esporas o Micelio).
        Setitas.com S.A.S NIT 901392919 con domicilio en Bogotá no puede asumir
        responsabilidad derivada del uso incorrecto, inapropiado o ilícito de
        los productos ofrecidos por cualquiera de sus canales de venta.
      </p>
      <p class="mt-4">
        canales de venta. Los contenidos e información en esta página web no
        vinculan ni constituyen opiniones , consejos, o asesoramiento legal de
        ningún tipo, pues se trata meramente de un servicio ofrecido con
        carácter informativo y divulgativo. Los textos, imágenes, sonidos,
        animaciones, software y el resto de contenidos incluidos en esta página
        web son propiedad exclusiva de Setitas.com S.A.S o sus accionistas.
        Cualquier acto de transmisión, distribución, cesión, reproducción,
        almacenamiento o comunicación pública total o parcial, debe contar con
        el consentimiento expreso de Setitas.com S.A.S.
      </p>
    </section>
  </main>
</Layout>
