---
import LayoutProducts from "../../layouts/LayoutProducts.astro";
import ProductsList from "@components/Productos/ListProducts.astro";
import { getSetasCategorys } from "@services/setasServices.ts";
import Setas from "@db/Products.json";
let productsData = Setas;
const { category } = Astro.params;
export function getStaticPaths() {
  const categories = getSetasCategorys();
  return categories.map((category) => ({ params: { category } }));
}
productsData = productsData.filter((product) => product.categoria === category);
---

<LayoutProducts title="pagina - productos">
  <h1 class="text-blue-500 text-2xl font-bold text-center mb-8">
    Productos - {category}
  </h1>
  <ProductsList setas={productsData} />
</LayoutProducts>
