---
import Layout from "./Layout.astro";
import FilterProducts from '@components/Filter/FilterProducts/index.astro';
---

<Layout title="pagina - productos">
  <main class="relative flex flex-col laptop:flex-row laptop:gap-4">
    <aside class="z-10 w-full laptop:w-1/4">
      <FilterProducts />
    </aside>
    <section class="w-full">
      <slot />
    </section>
  </main>
</Layout>
